@media all and (max-width: 1820px){
    .cabecalho{
        & .cabecalho__conteudo{
            & .cabecalho__titulo{
                & div{
                    & h1{
                        font-size: 3rem;
                    }
                    & .bi-film {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    main {
        & article {
            & .filme-modal {
                gap: 2rem;
            }
    }
}
}