:root{
    --primary: #abaeff;
    --secudary: #28282d;
    --color-font: #dcdcde;
}

button{
    transition: background-color 0.5s ease-in-out 0.1s;
}

main{

    & h2
    {
        color: var(--secudary);
        text-align: center;
        margin-top: 2rem;
        
    }

    & .esconder_modal{
        visibility: hidden;
    }

    & article{
        display: flex;
        flex-flow: column;
        align-items: center;

        & .puxar_modal{
            transform: translatey(-100%);
            transition: all 0.10s ease-in 0s;
        }

        & .info_filme
        {
            width: 50%;
            margin: 1rem auto;
            background-color: var(--secudary);
            padding: 1.5rem;
            border-radius: 7px;
            display: flex;
            flex-flow: column nowrap;
            gap: 3rem;
            position: absolute;
            top: 11rem;

            & #organizar_titulo
            {
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;
                justify-content: space-between;

                & button
                {
                    background-color: transparent;
                    width: 3rem;
                    height: 3rem;
                    font-size: 1.5rem;
                    border: 2px solid var(--primary);
                    border-radius: 10px;
                    color: var(--primary);
                    text-align: center;

                    &:hover{
                        cursor: pointer;
                        color: var(--primary);
                        background-color: #222469;
                        border: 1px solid var(--primary);
                    }
                }
            }

            & #nome_filme
            {
                text-align: justify;
                color: var(--primary);
                text-transform: capitalize;
            }
            & .container_filme
            {
                display: flex;
                flex-flow: row wrap;
                gap: 1.5rem;
                height: 50dvh;
                
                
                & #img_filme{
                    display: flex;
                    flex: 1 0 10rem; 
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    aspect-ratio: 1/1;
                    border-radius: 9px;
                    

                    & #mudar_img{
                        width: 100%;
                        height: auto;
                        border-radius: 9px;
                    }
                }

                & .container_filho{
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 1 1 30rem;
                    justify-content: space-evenly;
                    padding: 1rem;
                    gap: 1.5rem;
                    text-align: justify;

                    & h2{
                        color: var(--primary);
                        font-size: 1.9rem;
                        display: inline;
                        font-weight: normal;
                    }

                    & strong{
                        font-weight: normal;
                    }
                }
            }

            & #add_filme{
                border: none;
                border-radius: 7px;
                text-align: center;
                background-color: #abaeff;
                flex: 0 0 100%;
                width: 70%;
                height: 3rem;
                margin: 0 auto;
                font-size: 1.8rem;
                color: #222469;
                text-transform: capitalize;
                font-weight: 600;
                border: 1px solid #222469;

                &:hover{
                    cursor: pointer;
                    color: #abaeff;
                    background-color: #222469;
                    border: 1px solid #abaeff;
                }
            }
        }
    }
    
}
